.grid{
    display: grid;
}

.grid-template{
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
}


@media screen and (min-width: 1000px) {
    .grid-template{
        grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    }
}

@media screen and (min-width: 2520px){
    .grid-template{
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
}