<!-- mx-auto centraliza -->
<section class="w-100 h-100 grid grid-template gap-2">
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card01" [userID]="userID" [chartValues]="favorite01Data"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card02" [userID]="userID" [chartValues]="favorite02Data"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card03" [userID]="userID" [chartValues]="favorite03Data"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card04" [userID]="userID" [chartValues]="favorite04Data"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card05" [userID]="userID" [chartValues]="favorite05Data"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card06" [userID]="userID" [chartValues]="favorite06Data"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card07" [userID]="userID" [chartValues]="favorite07Data"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card08" [userID]="userID" [chartValues]="favorite08Data"></app-select-chart>
    </div>
</section>