<!-- mx-auto centraliza -->
<section class="w-100 h-100 grid grid-template gap-2">
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card01"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card02"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card03"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card04"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card05"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card06"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card07"></app-select-chart>
    </div>
    <div class="overflow-auto w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
        <app-select-chart [cardID]="card08"></app-select-chart>
    </div>
</section>