<div class="h-100 rounded rounded-lg w-100">

    <!-- (en) Columns options -->
    <article *ngIf="setColumnOptions" class="z-1 m-0 h-100 position-absolute w-100 row">
        <div *ngIf="!isFilter" class="col-9 backdrop w-75">
            <h1 *ngIf="columnNumber === 1"
                class="w-50 max-w-200 text-center mx-4 block m-2 fs-6 normal px-4 pt-3 pb-2 text-white">Selecione duas
                colunas</h1>
            <h1 *ngIf="columnNumber === 2"
                class="w-50 max-w-200 text-center mx-4 block m-2 fs-6 normal px-4 pt-3 pb-2 text-white">Selecione uma
                consulta</h1>
            <div class="w-100 max-w-200 max-h-300 overflow-y-auto mx-4 py-2">
                <section class="d-flex justify-content-center align-items-start flex-column gap-2">
                    <div *ngIf="
                        columnNumber === 1 
                        && !userOptions.selectedOptions.includes('only_doc_count') 
                        && !userOptions.selectedOptions.includes('only_pages_process') 
                        && !userOptions.selectedOptions.includes('most_analyzed_doc') 
                        && !userOptions.selectedOptions.includes('doc_most_analyzed_pages') 
                        && !userOptions.selectedOptions.includes('user_most_analyzed_doc')
                        && !userOptions.selectedOptions.includes('segment_most_analyzed_doc')
                        && !userOptions.selectedOptions.includes('user_most_analyzed_pages')
                        && !userOptions.selectedOptions.includes('segment_most_analyzed_pages')"
                        class="w-100 d-flex justify-content-center align-items-start flex-column gap-2">
                        <div *ngFor="let column of usersColumnsOption" class="w-100">
                            <button (click)="setOption(column)"
                                class="w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2" [ngSwitch]="column"
                                [ngClass]="{ 'bg-gray': userOptions.selectedOptions.includes(column) }">
                                <ng-container *ngSwitchCase="'id'">ID</ng-container>
                                <ng-container *ngSwitchCase="'name'">Usuário</ng-container>
                                <ng-container *ngSwitchCase="'segment'">Segmento</ng-container>
                                <ng-container *ngSwitchDefault>{{column}}</ng-container>
                            </button>
                        </div>
                        <div *ngFor="let column of extractsColumnsOption" class="w-100">
                            <button (click)="setOption(column)"
                                class="w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2" [ngSwitch]="column"
                                [ngClass]="{ 'bg-gray': userOptions.selectedOptions.includes(column) }">
                                <ng-container *ngSwitchCase="'id'">ID</ng-container>
                                <ng-container *ngSwitchCase="'created_at'">Data de Criação</ng-container>
                                <ng-container *ngSwitchCase="'pages_process'">Páginas Processadas</ng-container>
                                <ng-container *ngSwitchCase="'doc_type'">Tipo de Documento</ng-container>
                                <ng-container *ngSwitchCase="'user_id'">ID do Usuário</ng-container>
                                <ng-container *ngSwitchCase="'doc_count'">Documentos Processados</ng-container>
                                <ng-container *ngSwitchDefault>{{column}}</ng-container>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="columnNumber === 2" class="w-100">
                        <button *ngIf="
                            !userOptions.selectedOptions.includes('only_pages_process') 
                            && !userOptions.selectedOptions.includes('most_analyzed_doc') 
                            && !userOptions.selectedOptions.includes('doc_most_analyzed_pages') 
                            && !userOptions.selectedOptions.includes('user_most_analyzed_doc')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_doc')
                            && !userOptions.selectedOptions.includes('user_most_analyzed_pages')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_pages')"
                            (click)="setOption('only_doc_count')"
                            class="mb-2 w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2"
                            [ngClass]="{ 'bg-gray': userOptions.selectedOptions.includes('only_doc_count') }">
                            Quant. Documentos Processados
                        </button>
                        <button *ngIf="
                            !userOptions.selectedOptions.includes('only_doc_count') 
                            && !userOptions.selectedOptions.includes('most_analyzed_doc') 
                            && !userOptions.selectedOptions.includes('doc_most_analyzed_pages') 
                            && !userOptions.selectedOptions.includes('user_most_analyzed_doc')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_doc')
                            && !userOptions.selectedOptions.includes('user_most_analyzed_pages')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_pages')"
                            (click)="setOption('only_pages_process')"
                            class="mb-2 w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2"
                            [ngClass]="{ 'bg-gray': userOptions.selectedOptions.includes('only_pages_process') }">
                            Quant. Páginas Processadas
                        </button>
                        <button *ngIf="
                            !userOptions.selectedOptions.includes('only_doc_count') 
                            && !userOptions.selectedOptions.includes('only_pages_process') 
                            && !userOptions.selectedOptions.includes('doc_most_analyzed_pages') 
                            && !userOptions.selectedOptions.includes('user_most_analyzed_doc')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_doc')
                            && !userOptions.selectedOptions.includes('user_most_analyzed_pages')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_pages')"
                            (click)="setOption('most_analyzed_doc')"
                            class="mb-2 w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2"
                            [ngClass]="{ 'bg-gray': userOptions.selectedOptions.includes('most_analyzed_doc') }">
                            Documento Mais Analisado
                        </button>
                        <button *ngIf="
                            !userOptions.selectedOptions.includes('only_doc_count') 
                            && !userOptions.selectedOptions.includes('only_pages_process') 
                            && !userOptions.selectedOptions.includes('most_analyzed_doc') 
                            && !userOptions.selectedOptions.includes('user_most_analyzed_doc')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_doc')
                            && !userOptions.selectedOptions.includes('user_most_analyzed_pages')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_pages')"
                            (click)="setOption('doc_most_analyzed_pages')"
                            class="mb-2 w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2"
                            [ngClass]="{ 'bg-gray': userOptions.selectedOptions.includes('doc_most_analyzed_pages') }">
                            Doc. Com + Páginas Analisadas
                        </button>
                        <button *ngIf="
                            !userOptions.selectedOptions.includes('only_doc_count') 
                            && !userOptions.selectedOptions.includes('only_pages_process') 
                            && !userOptions.selectedOptions.includes('most_analyzed_doc') 
                            && !userOptions.selectedOptions.includes('doc_most_analyzed_pages')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_doc')
                            && !userOptions.selectedOptions.includes('user_most_analyzed_pages')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_pages')"
                            (click)="setOption('user_most_analyzed_doc')"
                            class="mb-2 w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2"
                            [ngClass]="{ 'bg-gray': userOptions.selectedOptions.includes('user_most_analyzed_doc') }">
                            Usuário + Analisou Doc.
                        </button>
                        <button *ngIf="
                            !userOptions.selectedOptions.includes('only_doc_count') 
                            && !userOptions.selectedOptions.includes('only_pages_process') 
                            && !userOptions.selectedOptions.includes('most_analyzed_doc') 
                            && !userOptions.selectedOptions.includes('user_most_analyzed_doc') 
                            && !userOptions.selectedOptions.includes('doc_most_analyzed_pages')
                            && !userOptions.selectedOptions.includes('user_most_analyzed_pages')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_pages')"
                            (click)="setOption('segment_most_analyzed_doc')"
                            class="mb-2 w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2"
                            [ngClass]="{ 'bg-gray': userOptions.selectedOptions.includes('segment_most_analyzed_doc') }">
                            Segmento + Analisou Doc.
                        </button>
                        <button *ngIf="
                            !userOptions.selectedOptions.includes('only_doc_count') 
                            && !userOptions.selectedOptions.includes('only_pages_process') 
                            && !userOptions.selectedOptions.includes('most_analyzed_doc') 
                            && !userOptions.selectedOptions.includes('user_most_analyzed_doc') 
                            && !userOptions.selectedOptions.includes('doc_most_analyzed_pages')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_doc')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_pages')"
                            (click)="setOption('user_most_analyzed_pages')"
                            class="mb-2 w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2"
                            [ngClass]="{ 'bg-gray': userOptions.selectedOptions.includes('user_most_analyzed_pages') }">
                            Usuário + Analisou Páginas de Doc.
                        </button>
                        <button *ngIf="
                            !userOptions.selectedOptions.includes('only_doc_count') 
                            && !userOptions.selectedOptions.includes('only_pages_process') 
                            && !userOptions.selectedOptions.includes('most_analyzed_doc') 
                            && !userOptions.selectedOptions.includes('user_most_analyzed_doc') 
                            && !userOptions.selectedOptions.includes('doc_most_analyzed_pages')
                            && !userOptions.selectedOptions.includes('segment_most_analyzed_doc')
                            && !userOptions.selectedOptions.includes('user_most_analyzed_pages')"
                            (click)="setOption('segment_most_analyzed_pages')"
                            class="mb-2 w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2"
                            [ngClass]="{ 'bg-gray': userOptions.selectedOptions.includes('segment_most_analyzed_pages') }">
                            Segmento + Analisou Páginas de Doc.
                        </button>
                    </div>
                </section>
            </div>

            <aside class="mt-2 w-100 max-w-200">
                <ul class="mx-4 p-0 w-100 max-w-200 d-flex align-items-start justify-content-center gap-2">
                    <li *ngIf="
                        !userOptions.selectedOptions.includes('only_doc_count') 
                        && !userOptions.selectedOptions.includes('only_pages_process') 
                        && !userOptions.selectedOptions.includes('most_analyzed_doc') 
                        && !userOptions.selectedOptions.includes('doc_most_analyzed_pages') 
                        && !userOptions.selectedOptions.includes('user_most_analyzed_doc')
                        && !userOptions.selectedOptions.includes('segment_most_analyzed_doc')
                        && !userOptions.selectedOptions.includes('user_most_analyzed_pages')
                        && !userOptions.selectedOptions.includes('segment_most_analyzed_pages')"
                        class="btn bg-pink text-white" (click)="columnNumber = 1"
                        [ngClass]="{ 'bg-gray': columnNumber === 1 }">
                        <span>1</span>
                    </li>
                    <li *ngIf="userOptions.selectedOptions.length === 0" class="btn bg-pink text-white"
                        (click)="columnNumber = 2" [ngClass]="{ 'bg-gray': columnNumber === 2 }">
                        <span>2</span>
                    </li>
                </ul>
            </aside>

            <div class="w-100 max-w-200 h-39 mx-4 d-flex align-items-start justify-content-center flex-row gap-2 mt-2">

                <button class="w-100 h-100 btn text-14 rounded rounded-lg bg-pink text-white p-2"
                    *ngIf="(selectedOptions >= 2 || (selectedOptions === 1 && readyQueries.includes(userOptions.selectedOptions[0])))"
                    (click)="openChart()">
                    Proximo
                </button>

                <select *ngIf="(showChartOptions) && (selectedOptions >= 2)" (change)="setChart($event)" name="chart"
                    id="chart" class="select h-100 text-14 rounded rounded-lg bg-pink text-white p-2 w-100 pointer">
                    <option value="" disabled selected>Selecione um gráfico</option>
                    <option value="pie">Pizza</option>
                    <option value="bar">Barras</option>
                    <option value="horizontal-bar">Barras Horizontais</option>
                    <option value="line">Linha</option>
                    <option value="area">Área</option>
                    <option value="scatter">Dispersão</option>
                </select>

                <select
                    *ngIf="(showChartOptions) && (selectedOptions === 1) && readyQueries.includes(userOptions.selectedOptions[0])"
                    (change)="setChart($event)" name="chart" id="chart"
                    class="select h-100 rounded rounded-lg bg-pink text-white p-2 w-100 pointer">
                    <option value="" disabled selected>Selecione um gráfico</option>
                    <option value="uniqueValue">Valor Único</option>
                </select>
            </div>
        </div>
        <div *ngIf="isFilter" class="col-9 backdrop w-75">
            <div *ngIf="filterNumber === 1"
                class="h-340 w-100 py-2 d-flex align-items-start justify-content-top flex-column">
                <div class="w-75 d-flex flex-column filterContent">
                    <h1 class="w-100 block m-2 fs-6 normal px-4 pt-1 pb-2 text-white">Selecione o período</h1>
                    <mat-form-field class="w-100">
                        <mat-label class="text-pink">Insira um período</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date" [(ngModel)]="userOptions.startDate">
                            <input matEndDate placeholder="End date" [(ngModel)]="userOptions.endDate">
                        </mat-date-range-input>
                        <mat-hint class="text-white text-size-responsive w-100">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker touchUi #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div *ngIf="(!userOptions.selectedOptions.includes('doc_count') && !userOptions.selectedOptions.includes('only_doc_count'))"
                    class="w-75 h-340 py-2 d-flex flex-column align-items-center justify-content-center gap-2">
                    <span class="my-1 text-white">Selecione uma Agregação</span>
                    <div class="d-flex flex-row align-items-center justify-content-center gap-2">
                        <button
                            *ngIf="isFilter && (!userOptions.selectedOptions.includes('pages_process') && !userOptions.selectedOptions.includes('only_pages_process'))"
                            [ngClass]="{ 'bg-gray': userOptions.aggregate === '' }"
                            class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                            (click)="setAggregate('')">Contar</button>
                        <button *ngIf="isFilter" [ngClass]="{ 'bg-gray': userOptions.aggregate === 'sum' }"
                            class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                            (click)="setAggregate('sum')">Somar</button>
                        <button *ngIf="isFilter" [ngClass]="{ 'bg-gray': userOptions.aggregate === 'avg' }"
                            class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                            (click)="setAggregate('avg')">Média</button>
                    </div>
                </div>
                <div class="w-75 h-340 py-2 d-flex flex-column align-items-center justify-content-center gap-2"
                    *ngIf="isFilter && userOptions.selectedOptions.includes('created_at') && (userOptions.selectedOptions.includes('doc_count') || userOptions.selectedOptions.includes('pages_process'))">
                    <span class="my-2 text-white">Selecione uma opção</span>
                    <div class="d-flex flex-row align-items-center justify-content-center gap-2">
                        <button *ngIf="userOptions.selectedOptions.includes('created_at')" [ngClass]="{ 'bg-gray': userOptions.timeGrouping === 'day' }"
                            class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                            (click)="userOptions.timeGrouping = 'day'">Dia</button>
                        <button [ngClass]="{ 'bg-gray': userOptions.timeGrouping === 'month' }"
                            class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                            (click)="userOptions.timeGrouping = 'month'">Mês</button>
                        <button *ngIf="isFilter" [ngClass]="{ 'bg-gray': userOptions.timeGrouping === 'year' }"
                            class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                            (click)="userOptions.timeGrouping = 'year'">Ano
                        </button>
                    </div>
                </div>
            </div>

            <div *ngIf="filterNumber === 2"
                class="h-340 w-75 d-flex align-items-center justify-content-top flex-column">
                <h1 class="w-100 text-center block m-2 fs-6 normal px-4 pt-1 pb-2 text-white">Selecione o usuário</h1>
                <div *ngFor="let user of usersFromDB"
                    class="max-h-300 w-75 overflow-y-auto d-flex align-items-start justify-content-center flex-column">
                    <button (click)="setSpecificFilter('lower(u.name) = ' + removeItemStyle(user))"
                        class="w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2 mb-2" [ngSwitch]="user"
                        [ngClass]="{ 'bg-gray': userOptions.specificFilter === 'lower(u.name) = ' + removeItemStyle(user)}">
                        <ng-container *ngSwitchDefault>{{user}}</ng-container>
                    </button>
                </div>
            </div>

            <div *ngIf="filterNumber === 3"
                class="h-340 w-75 d-flex align-items-center justify-content-top flex-column">
                <h1 class="w-100 text-center block m-2 fs-6 normal px-4 pt-1 pb-2 text-white">Selecione o Segmento</h1>
                <div *ngFor="let segment of segmentsFromDB"
                    class="max-h-300 w-75 overflow-y-auto d-flex align-items-start justify-content-center flex-column">
                    <button (click)="setSpecificFilter('lower(u.segment) = ' + removeItemStyle(segment))"
                        class="w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2 mb-2" [ngSwitch]="segment"
                        [ngClass]="{ 'bg-gray': userOptions.specificFilter === 'lower(u.segment) = ' + removeItemStyle(segment)}">
                        <ng-container *ngSwitchDefault>{{segment}}</ng-container>
                    </button>
                </div>
            </div>

            <div *ngIf="filterNumber === 4"
                class="h-340 w-75 d-flex align-items-center justify-content-top flex-column">
                <h1 class="w-100 text-center block m-2 fs-6 normal px-4 pt-1 pb-2 text-white">Selecione o Tipo de
                    Documento</h1>
                <div class="w-100 h-200 overflow-y-auto d-flex align-items-center justify-content-top flex-column">
                    <div *ngFor="let doc of docTypesFromDB"
                        class="w-75 d-flex align-items-start justify-content-center flex-column">
                        <button (click)="setSpecificFilter('lower(e.doc_type) = ' + this.removeItemStyle(doc))"
                            class="w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2 mb-2" [ngSwitch]="doc"
                            [ngClass]="{ 'bg-gray': userOptions.specificFilter === 'lower(e.doc_type) = ' + removeItemStyle(doc)}">
                            <ng-container *ngSwitchDefault>{{doc}}</ng-container>
                        </button>
                    </div>
                </div>
            </div>

            <aside class="mt-3 w-75">
                <ul class="p-0 w-100 d-flex align-items-start justify-content-center gap-2">
                    <li class="btn bg-pink text-white" (click)="filterNumber = 1"
                        [ngClass]="{ 'bg-gray': filterNumber === 1 }">
                        <span>1</span>
                    </li>
                    <li class="btn bg-pink text-white" (click)="filterNumber = 2"
                        [ngClass]="{ 'bg-gray': filterNumber === 2 }">
                        <span>2</span>
                    </li>
                    <li class="btn bg-pink text-white" (click)="filterNumber = 3"
                        [ngClass]="{ 'bg-gray': filterNumber === 3 }">
                        <span>3</span>
                    </li>
                    <li class="btn bg-pink text-white" (click)="filterNumber = 4"
                        [ngClass]="{ 'bg-gray': filterNumber === 4 }">
                        <span>4</span>
                    </li>
                </ul>
            </aside>

            <div class="w-75 py-1 d-flex align-items-start justify-content-center flex-column">
                <span class="my-2 small w-100 text-white text-center">
                    Salve para atualizar os dados :)
                </span>
                <div class="d-flex align-items-end justify-content-center flex-row filterButtons w-100">
                    <button *ngIf="isFilter" class="btn text-14 rounded rounded-lg bg-gray text-white p-2"
                        (click)="cleanFilter()">Limpar Filtro</button>
                    <button *ngIf="isFilter" class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                        (click)="addFilter()">Salvar</button>
                </div>
            </div>
        </div>
        <div class="backdrop col p-2 gap-2 d-flex align-items-end justify-content-start flex-column">
            <button *ngIf="!isFilter" class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                (click)="resetData()">Limpar</button>
            <button class="btn text-14 rounded rounded-lg bg-gray text-white p-2"
                (click)="showOptions()">Fechar</button>
            <button *ngIf="!isFilter" class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                (click)="isFilter = !isFilter">Filtro</button>
        </div>
    </article>


    <!-- Legend: 
        cardID -> (en) Send the chart ID
        userOptions -> (en) Send the options selected by the user, for visualization
        userOptionsToDB -> (en) Send the options selected by the user, using the correct database names
        chartOption -> (en) Send the chart chosen by the user
    -->

    <!-- (en) Calling the user-chosen graph -->

    <article class="position-relative w-100 h-100">
        <div *ngIf="!setColumnOptions && !cardID.startsWith('dashboard')"
            class="z-1 position-absolute w-100 d-flex align-items-end justify-content-end p-2 gap-2 flex-column">
            <button class="btn btn-save-to-db text-14 rounded rounded-lg p-2" (click)="saveToDatabase()">Salvar</button>
            <button class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                (click)="showOptions()">Editar</button>
        </div>
        <section>
            <app-charts *ngIf="(userOptions.chartType != 'empty') && (userOptions.chartType != 'loading')"
                [cardID]="cardID" [userOptions]="userOptions" [chartOption]="userOptions.chartType"
                [chartClass]="cardClass || 'chart-md'">
            </app-charts>
            <app-isEmpty *ngIf="userOptions.chartType === 'empty' && !cardID.startsWith('dashboard')"></app-isEmpty>
            <app-loading *ngIf="userOptions.chartType === 'loading' && !cardID.startsWith('dashboard')"></app-loading>
        </section>
    </article>
</div>