.h-700px{
    height: 700px;
}

.btn svg{
    fill: white;
}

.btn:hover svg{
    fill: #DB0185;
}

.btn:hover .stroke{
    stroke: #DB0185;
}

.btn:hover .stroke svg path{
    stroke: #DB0185;
}

.btn button:hover svg path{
    stroke: #DB0185;
}

.my-sidebar ul li .icon{
    width: 1.8rem;
}


/* Select Menu Option */

.menu-option-selected{
	background: rgb(255, 214, 239);
	color: #504a4ce7 !important;
}

.menu-option-selected:hover{
    color: #DB0185 !important;
}

.menu-option-selected svg{
    fill: #504a4ce7;
}

.menu-option-selected .stroke svg path{
    stroke: #504a4ce7;
}