<!-- mx-auto centraliza -->
<section class="w-100 h-100 gap-2">
    <div class="dashboard-first-container gap-2 w-100 d-flex justify-content-evenly align-items-center">
        <aside class="dashboard-sm d-flex justify-content-evenly align-items-center gap-2">
            <div
                class="chart-xs w-100 position-relative dashboard-sm shadow rounded rounded-lg border-pink">
                <app-select-chart [cardID]="card01" [cardClass]="'chart-xs'" [chartValues]="dashboard01Data"></app-select-chart>
            </div>
            <div
                class="chart-xs w-100 position-relative dashboard-sm shadow rounded rounded-lg border-pink">
                <app-select-chart [cardID]="card02" [cardClass]="'chart-xs'" [chartValues]="dashboard02Data"></app-select-chart>
            </div>
            <div
                class="chart-xs w-100 position-relative dashboard-sm shadow rounded rounded-lg border-pink">
                <app-select-chart [cardID]="card03" [cardClass]="'chart-xs'" [chartValues]="dashboard03Data"></app-select-chart>
            </div>
        </aside>
        <div class="position-relative dasboard-04 shadow chart-sm rounded rounded-lg border-pink">
            <app-select-chart [cardID]="card04" [cardClass]="'chart-sm'" [chartValues]="dashboard04Data"></app-select-chart>
        </div>
    </div>
    <div class="mt-2 w-100 h-100 grid grid-template gap-2">
        <div
            class="w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
            <app-select-chart [cardID]="card05" [chartValues]="dashboard05Data"></app-select-chart>
        </div>
        <div
            class="w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
            <app-select-chart [cardID]="card06" [chartValues]="dashboard06Data"></app-select-chart>
        </div>
        <div
            class="w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
            <app-select-chart [cardID]="card07" [chartValues]="dashboard07Data"></app-select-chart>
        </div>
        <div
            class="w-100 position-relative col-md-12 col-lg-10 shadow h-500 rounded rounded-lg border-pink">
            <app-select-chart [cardID]="card08" [chartValues]="dashboard08Data"></app-select-chart>
        </div>
    </div>

</section>