
<header class="desktop-navbar col-md-12 position-fixed z-2 d-flex align-items-center flex-row h-90 bg-white">
    <div class="d-flex justify-content-center align-items-center h-90 w-256">
        <img src="../assets/logo.svg"
            alt="Logo da empresa Di2win, em letras pretas, com o número 2 em cor rosa, e um icone rosa a frente"
            class="w-75">
    </div>
    <div class="flex-grow-1 d-flex flex-row justify-content-end ms-4 pe-5 h-90">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <p class="m-0 me-3 w-100">Olá, <span class="text-pink fw-medium">{{username}}</span></p>
            <span class="w-100 text-end me-5 small">{{profileType}}</span>
        </div>
        <div class="w-60 d-flex justify-content-center align-items-center">
            <img class="w-100 rounded rounded-circle" src={{profile_picture}} alt="Foto de perfil do usuário">
        </div>
    </div>
</header>